body
{  
   background-image: url(bg1.webp);
   background-repeat: no-repeat;
   position: relative;
   background-position: 55% 75%;
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock1.png) no-repeat;
    background-size: 100%;
    border-radius: 90%;
}

#hours,
#minute,
#second
{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hours{
    width: 1.9%;
    height: 25%;
    top: 25%;
    left: 48.90%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 35%;
    top: 14.5%;
    left: 48.7%;
    opacity: 0.8;
    transform: rotate(180deg);
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}

#point{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 294px;
    left: 296px;
    opacity: 1;
}

.hour
{
    font-size: 30px;
    font-weight: bold;
    color: black;
    position: absolute;
}

.hour-1
{
    top: 100px;
    right: 168px;
}
.hour-2
{
    top: 181px;
    right: 94px;
}
.hour-3
{
    top: 288px;
    right: 62px;
}
.hour-4
{
    top: 407px;
    right: 94px;
}
.hour-5
{
    top: 487px;
    right: 168px;
}
.hour-6
{
    top: 528px;
    right: 297px;
}
.hour-7
{
    top: 487px;
    right: 425px;
}
.hour-8
{
    top: 407px;
    right: 506px;
}
.hour-9
{
    top: 288px;
    right: 539px;
}
.hour-10
{
    top: 181px;
    right: 496px;
}
.hour-11
{
    top: 99px;
    right: 426px;
}
.hour-12
{
    top: 57px;
    right: 297px;
}

@media only screen and (max-width:320px) {
    .body
   {
      padding: 2rem;
      margin: 2rem;
   }

#point 
    {
        width: 6px;
        height: 6px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 47%;
        left: 47%;
        opacity: 1;
    }

     .hour
      {
          font-size: 9px;
      }
 
     .hour-1
    {
        
        font-weight: bold;
        top: 12%;
        left: 66%;
    } 

    .hour-2
   {
      
       font-weight: bold;
       top: 26%;
       right: 16%;
   }

    .hour-3
   {
  
       font-weight: bold;
       top: 46%;
       right: 10%;
   }  

    .hour-4
   {
    
       font-weight: bold;
       top: 65%;
       right: 17%;
   }

    .hour-5
   {
     
       font-weight: bold;
       top: 78%;
       right: 31%;
   }

    .hour-6
   {
      
       font-weight: bold;
       top: 83%;
       right: 48%;
   }

    .hour-7
   {

       font-weight: bold;
       top: 79%;
       right: 66%;
   }

    .hour-8
   {
 
       font-weight: bold;
       top: 66%;
       right: 80%;
   }

    .hour-9
   {
    
       font-weight: bold;
       top: 46%;
       right: 86%;
   }

    .hour-10
   {
      
       font-weight: bold;
       top: 27%;
       right: 78%;
   }

    .hour-11
   {
      
       font-weight: bold;
       top: 13%;
       right: 65%;
   }

    .hour-12
   {
 
       font-weight: bold;
       top: 8%;
       right: 47%;
   }
}  

@media only screen and (min-width: 321px) and (max-width:424px)
{
    #point 
    {
        width: 6px;
        height: 6px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 47%;
        left: 47%;
        opacity: 1;
    }

     .hour
      {
          font-size: 10px;
      }
 
     .hour-1
    {
        
        font-weight: bold;
        top: 13%;
        right: 30%;
    } 

    .hour-2
   {
      
       font-weight: bold;
       top: 26%;
       right: 16%;
   }

    .hour-3
   {
       
       font-weight: bold;
       top: 45%;
       right: 10%;
   }  

    .hour-4
   {
     
       font-weight: bold;
       top: 64%;
       right: 16%;
   }

    .hour-5
   {
      
       font-weight: bold;
       top: 79%;
       right: 29%;
   }

    .hour-6
   {
    
       font-weight: bold;
       top: 85%;
       right: 49%;
   }

    .hour-7
   {
    
       font-weight: bold;
       top:80% ;
       right: 67%;
   }

    .hour-8
   {
     
       font-weight: bold;
       top: 66%;
       right: 81%;
   }

    .hour-9
   {
    
       font-weight: bold;
       top: 47%;
       right: 86%;
   }

    .hour-10
   {
     
       font-weight: bold;
       top: 27%;
       right: 80%;
   }

    .hour-11
   {
    
       font-weight: bold;
       top: 13%;
       right: 65%;
   }

    .hour-12
   {
      
       font-weight: bold;
       top: 8%;
       right: 47%;
   }
  }  

  @media only screen and (min-width: 425px) and (max-width:480px)
{
    #point 
    {
        width: 6px;
        height: 6px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 47%;
        left: 47%;
        opacity: 1;
    }

     .hour
      {
          font-size: 10px;
      }
 
     .hour-1
    {
        font-size: 10px;
        font-weight: bold;
        top: 13%;
        right: 30%;
    } 

    .hour-2
   {
       font-size: 10px;
       font-weight: bold;
       top: 27%;
       right: 16%;
   }

    .hour-3
   {
       font-size: 10px;
       font-weight: bold;
       top: 46%;
       right: 10%;
   }  

    .hour-4
   {
       font-size: 10px;
       font-weight: bold;
       top: 66%;
       right: 16%;
   }

    .hour-5
   {
       font-size: 10px;
       font-weight: bold;
       top: 80%;
       right: 29%;
   }

    .hour-6
   {
       font-size: 10px;
       font-weight: bold;
       top: 85%;
       right: 49%;
   }

    .hour-7
   {
       font-size: 10px;
       font-weight: bold;
       top: 80%;
       right: 67%;
   }

    .hour-8
   {
       font-size: 10px;
       font-weight: bold;
       top: 66%;
       right: 81%;
   }

    .hour-9
   {
       font-size: 10px;
       font-weight: bold;
       top: 47%;
       right: 87%;
   }

    .hour-10
   {
       font-size: 10px;
       font-weight: bold;
       top: 28%;
       right: 80%;
   }

    .hour-11
   {
       font-size: 10px;
       font-weight: bold;
       top: 14%;
       right: 67%;
   }

    .hour-12
   {
       font-size: 10px;
       font-weight: bold;
       top: 9%;
       right: 48%;
   }
  }  

@media only screen and (min-width:481px) and (max-width:768px)
{
    #point 
    {
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 47%;
        left: 47%;
        opacity: 1;
    }

    #body
   {
      position: fixed;
   }

    .hour
    {
        font-size: 20px;
    }

    .hour-1
    {
        top: 13%;
        right: 29%;
    }

    .hour-2
    {
        top:26%;
        right: 16%;
    }

    .hour-3
    {
        top: 46%;
        right: 11%;
    }

    .hour-4
    {
        top: 66%;
        right: 16%;
    }

    .hour-5
    {
        top: 79%;
        right: 29%;
    }


    .hour-6
    {
        top: 84%;
        right: 48%;
    }

    .hour-7
    {
        top: 79%;
        right: 69%;
    }

    .hour-8
    {
        top: 66%;
        right: 81%;
    }

    .hour-9
    {
        top: 46%;
        right: 86%;
    }

    .hour-10
    {
        top: 26%;
        right: 78%;
    }

    .hour-11
    {
        top: 13%;
        right:65%;
    }

    .hour-12
    {
        top: 8%;
        right: 46%;
    }   
}

@media only screen and (min-width:769px) and (max-width:1079px)
{
    #point 
    {
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 47%;
        left: 47%;
        opacity: 1;
    }

    #body
   {
      position: fixed;
   }

    .hour
    {
        font-size: 30px;
    }

    .hour-1
    {
        top: 12% ;
        right: 29%;
    }

    .hour-2
    {
        top: 25%;
        right: 16%;
    }

    .hour-3
    {
        top: 44%;
        right: 10%;
    }

    .hour-4
    {
        top: 63%;
        right: 16%;
    }

    .hour-5
    {
        top: 76%;
        right: 29%;
    }


    .hour-6
    {
        top: 82%;
        right: 47%;
    }

    .hour-7
    {
        top: 77%;
        right: 67%;
    }

    .hour-8
    {
        top: 63%;
        right: 81%;
    }

    .hour-9
    {
        top: 45%;
        right: 86%;
    }

    .hour-10
    {
        top: 26%;
        right: 78%;
    }

    .hour-11
    {
        top: 13%;
        right: 65%;
    }

    .hour-12
    {
        top: 7%;
        right: 46%;
    }
}

@media only screen and (min-width:1080px) and (max-width:1440px)
{
#point 
    {
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 47%;
        left: 47%;
        opacity: 1;
    }

    .hour
    {
        font-size: 35px;
    }

    .hour-1
    {
        top:13% ;
        right:31% ;
    }

    .hour-2
    {
        top: 27%;
        right: 16%;
    }

    .hour-3
    {
        top: 46%;
        right: 10%;
    }

    .hour-4
    {
        top: 65%;
        right: 16%;
    }

    .hour-5
    {
        top: 79%;
        right: 30%;
    }

    .hour-6
    {
        top: 85%;
        right: 47%;
    }

    .hour-7
    {
        top: 80%;
        right: 66%;
    }

    .hour-8
    {
        top: 66%;
        right: 81%;
    }

    .hour-9
    {
        top: 47%;
        right: 87%;
    }

    .hour-10
    {
        top: 28%;
        right: 80%;
    }

    .hour-11
    {
        top: 13%;
        right: 67%;
    }
    .hour-12
    {
        top: 8%;
        right: 47%;
    }
}